<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello,</h1>
<p>
  You've been invited by  <%= @inviter %>.<br> to join a studygroup!
</p>
<p>
  To join, follow this link to the studygroup's info page: <%= @url %> and click join.
</p>
<p>Have a great day!</p>
</body>
</html>