<h1>Calendar</h1>
<div>
  <div class="calendar"></div>
</div>
<div id = "create_event_dialog" class="dialog" style ="display:none;"></div>
<div id = "event_desc_dialog" class="dialog" style ="display:none;"></div>

<script type = 'text/javascript'>
    calendar_options = {
        defaultView: "agendaWeek",
        dragOpacity: 0.5,
        editable: false,
        slotMinutes: 15,
        timeFormat: "h:mm t{ - h:mm t}",
        height: 500,
        header: {
            center: "title",
            left: "prev,next today",
            right: "month,agendaWeek,agendaDay"
        },
        eventClick: function(calEvent, jsEvent, view) {
            window.location.href='studygroups/' + '1';
        },
        selectable: true,
        minTime: "08:00:00",
        maxTime: "24:00:00",
        allDaySlot: false,
        events: "/fullcalendar_engine/events/get_events"
    };
    $('.calendar').fullCalendar(calendar_options);

    //$('.calendar').fullCalendar(full_calendar_options);
    //console.log(full_calendar_options);

</script>


<%= link_to 'Create', new_studygroups_url %>