<div id="the-basics">
  <input class="typeahead" type="text" placeholder="What Course?">
</div>

<script>
$(document).ready(function() {
    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substrRegex;
     
        // an array that will be populated with substring matches
        matches = [];
     
        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');
     
        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            // the typeahead jQuery plugin expects suggestions to a
            // JavaScript object, refer to typeahead docs for more info
            matches.push({ value: str });
          }
        });
     
        cb(matches);
      };
    };
     
    var states = ['cs61a', 'cs61b', 'cs61c', 'cs70', 'cs149',
      'cs150', 'cs160', 'cs161', 'cs162', 'cs164', 'cs168',
      'cs170', 'cs184', 'cs186'
    ];
     
    $('#the-basics .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'states',
      displayKey: 'value',
      source: substringMatcher(states)
    });

    $('#the-basics .typeahead').bind('typeahead:selected', function(event, suggestion, dataset_name) {
        console.log(suggestion);
        console.log(suggestion.value);
        $.ajax({
            type: "POST",
            url: "<%= enroll_course_path %>",
            data: { "course": suggestion.value },
            success: function(data) {
                //console.log(data);
                // window.alert("success to enroll")
                window.location.reload()
            }
        });
    })
});

</script>

