<style>
body {
    background-color: linen;
}
h1 {
    color: maroon;
    margin-left: 40px;
} 
#main_wrap { 
    display: table;
}

#sidebar {
    background:red;
    min-width: 200px;
    display: table-cell;
    float: left;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 1000;
    width: 178px;
    background: red;
}
#content {
    background:blue;
    display: table-cell;
    width: 100%;
}
header {
	height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px auto;
    margin:0px auto;
}
</style>
<header>Meet My ClassMates !!!!! </header>
<div class="left">
    LEFT
</div>
<h1><center>Enrolled Classes:</center>
<center>~~~~~~~~~~</center>
<center>~~~~~~~~~~</center>
<center>~~~~~~~~~~</center>
<center>~~~~~~~~~~</center>
<%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
</h1>

<center><div id="the-basics">
  <input class="typeahead" type="text" placeholder="What Course?">
<center></div>

<style>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;
 
    // an array that will be populated with substring matches
    matches = [];
 
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
 
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });
 
    cb(matches);
  };
};
 
var states = ['cs61a', 'cs61b', 'cs61c', 'cs70', 'cs149',
  'cs150', 'cs160', 'cs161', 'cs162', 'cs164', 'cs168',
  'cs170', 'cs184', 'cs186', 'cs', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];
 
$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});

</style>