#main {
  padding: 50px 0px 0px 15em;
}

#site_title {
  color: white;
  font-size: 17px;
}

#username {
  float: right;
  margin-right: 10px;
}

#side_bar {
  position: absolute;
  width: 14em;
  height: 100%;
  top: 50px;
  left: 0;
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

#side_bar li {
  // Remove this once other sidebar items are links
  color: white;
  margin: 0px 0px 0px 5px;
  padding: 0;
  list-style: none;
}
#side_bar a {
  color: white;
  display: block;
  margin: 0;
  padding: 8px 4px;
  text-decoration: none;
  font-weight: normal;
}

#side_bar a:hover {
  color: #2580a2;
}

.title {
  font-size: 18px;
}

.sub_title {
  font-size: 15px;
  text-indent: 10px;
}