#main {
  padding: 50px 0px 0px 13em;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
}

#top-bar li {
  display: inline;
  color: white;
}

#site-title {
  float: left;
}
#username {
  float: right;
  margin-right: 10px;
}

#side-bar {
  position: fixed;
  width: 13em;
  height: 100%;
  top: 50px;
  left: 0;
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

#side-bar li {
  // Remove this once other sidebar items are links
  color: white;
  margin: 0px 0px 0px 5px;
  padding: 0;
  list-style: none;
}
#side-bar a {
  color: white;
  background: #333;
  display: block;
  margin: 0;
  padding: 8px 4px;
  text-decoration: none;
  font-weight: normal;
}

#side-bar a:hover {
  color: #2580a2;
}

.title {
  font-size: 18px;
}

.sub-title {
  font-size: 15px;
  text-indent: 10px;
}