.tt-query,
.tt-hint {
    width: 165px;
    height: 5px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

html {
    height:100%;
}

.new-page {
    background-color: rgba(192,192,192,0.8);
    width: 250px;
    padding: 25px;
    border: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    margin: 35px;
    position: fixed;
    margin-left: -150px;
    left: 50%;
    border-radius: 10px;
    text-align: center;
}

#devise_login {
    background-image: url('/assets/cal.jpg');
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#edit_user {
    background-color: rgba(192,192,192,0.4);
    width: 250px;
    padding: 25px;
    border: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    margin: 35px;
    position: fixed;
    margin-left: -150px;
    left: 50%;
    border-radius: 10px;
    text-align: center;
}

.main-notifications {
    background-color: rgba(186,114,114,0.8);
    width:280px;
    border:25px;
    border-width:5px;
    border-radius: 10px;

}

body {
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    height: 100%;
    width: 100%;
}