<div id="top-bar">
  <p id="site-title">MeetMyClassmates</p>
  <p id="username">Username</p>
</div>

<ul id="side-bar">
  <li class="title"><%= link_to 'Home', root_path %></li>

  <br>

  <li class="title">My Study Groups</li>
  <li class="sub-title">CS170 HWs</li>
  <li class="sub-title">CS169 Project</li>

  <br>

  <li class="title">Unscheduled Groups</li>
  <li class="sub-title">CS162 MT1</li>
  <li class="sub-title">CS168 MT2</li>
</ul>